<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <title>Vue Grammar 01</title>
</head>

<body>
<!-- 计算属性 -->
<div id="app-1">
    <p> Original : {{message}} </p>
    <p> after : {{reversed}} </p>
    <button @click="doReverse">do it!</button>
    <p> Msg: {{msg}} </p>
    <label>
        <input v-model="msg">
    </label>
    <p> Gsm: {{gsm}} </p>
</div>

<hr>

<!-- 计算属性 -->
<div id="app-3">
    <p> first: </p>
    <label>
        <input v-model="firstName">
    </label>
    <p> last: </p>
    <label>
        <input v-model="lastName">
    </label>
    <p> full : {{fullName}} </p>
</div>

<hr>
<!-- 自定义侦听器watch适用于异步调用或开销较大的操作 -->
<div id="app-2">
    Ask a question:
    <label>
        <input v-model="question">
    </label>
    <p> {{answer}} </p>
    <img :src="url" v-if="seen" alt="yes">
</div>

<hr>

<!-- 监听事件 -->
<div id="app-4">
    <span> Count Number: </span>
    <p> {{counter}} </p>
    <button @click="counter = counter + 1"> Add </button>
    <button @click="showEvent($event)"> show event </button>
</div>

<script>

  new Vue({
    el: '#app-4',
    data: {
      counter: 0
    },
    methods: {
      showEvent: function (event) {
        console.log(event);
        console.log(event.type)
      }
    }
  })

  new Vue({
    el: '#app-3',
    data: {
      firstName: 'first',
      lastName: 'last'
    },
    computed: {
      fullName: function () {
        return this.firstName + ' ' + this.lastName
      }
    }
  })
  new Vue({
    el: '#app-1',
    data: {
      message: 'hello',
      msg: 'hello msg'
    },
    computed: {
      reversed: function () {
        return this.message.split('').reverse().join('');
      },
      gsm: function () {
        return this.msg.split('').reverse().join('');
      }
    },
    methods: {
      doReverse: function () {
        this.message = this.message.split('').reverse().join('');
      }
    },
  });
  new Vue({
    el: '#app-2',
    data: {
      question: '',
      answer: 'please ask.',
      seen: false,
      url: '',
    },
    watch: {
      question: function () {
        this.answer = 'waiting for stop';
        this.debounceGetAnswer();
        this.seen = false;
      }
    },
    created: function () {
      // 每过500ms执行一次getAnswer方法
      this.debounceGetAnswer = _.debounce(this.getAnswer, 500)
    },
    methods: {
      getAnswer: function () {
        if (this.question.indexOf('?') === -1) {
          this.answer = 'Question must contain ?';
          this.seen = false;
          return;
        }
        this.answer = 'Thinking....';
        let vm = this;
        axios.get('https://yesno.wtf/api')
          .then(function (res) {
            vm.answer = _.capitalize(res.data.answer);
            vm.url = res.data.image;
            vm.seen = true;
          })
          .catch(function (error) {
            vm.answer = 'can not reach the api' + error;
          })
      }
    }
  });
</script>
</body>

</html>
