<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
<!-- 组件可复用 -->
<div id="component01">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
</div>
<!-- 使用slot进行插值 -->
<div id="component02">
    <alert-box> something bad.</alert-box>
</div>
<hr>
<!--向组件中传值-->
<div id="cp3">
    <div :style="{fontSize: postFontSize + 'px'}">
        <blog-post
          v-for="post in posts"
          :post="post"
          :key="post.id"
          @enlarge-text="postFontSize = postFontSize + 10"
          @small-text="postFontSize = postFontSize - 10"
        >
        </blog-post>
    </div>
    <p> {{postFontSize}} </p>
</div>
<hr>
<!-- 自定义组件的v model -->
<div id="cp4">
    <p>{{changeVal}}</p>
    <base-checkbox v-model="changeVal"> </base-checkbox>
</div>
<script>
    Vue.component('button-counter', {
        data() {
            return {
                count: 0
            }
        },
        template: '<button @click="count++"> click {{ count }} times </button>'
    })

    Vue.component('alert-box', {
        template: `
                <div class="demo-alert-box">
                    <strong>Error!</strong>
                    <slot></slot>
                 </div>
            `
    });

    Vue.component('blog-post', {
        props: ['post'],
        template: '<div class="blog-post">\
            <h3>{{post.title}}</h3> \
            <button @click="$emit(\'enlarge-text\')"> large font </button>\
            <button @click="$emit(\'small-text\')"> small </button>\
            <div v-html="post.content"> </div>\
         </div>'
    })

    Vue.component('base-checkbox', {
        model: {
            prop: 'checked',
            event: 'change'
        },
        props: {
            checked: Boolean
        },
        template: `
        <input type="checkbox" :checked="checked" @change="$emit('change', $event.target.checked)">
        `
    })

    new Vue({
        el: '#component02'
    })

    new Vue({
        el: '#component01'
    })

    new Vue({
        el: '#cp3',
        data: {
            posts: [
                {id: 1, title: 'hello1', content: '<p>hello</p>'},
                {id: 2, title: 'hello2', content: '<p>hello</p>'},
                {id: 3, title: 'hello3', content: '<p>hello</p>'}
            ],
            postFontSize: 1
        }
    })

    new Vue({
        el: '#cp4',
        data: {
            changeVal: 10
        }
    })
</script>

</body>
</html>
